<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMT - Media List</title>
    {% include 'tracker/header.html' %}
</head>
<body>
    {% include 'tracker/global_links.html' %}
    <h1><strong>Tracked Media</strong></h1>
    {% if media %}
    <ul>
        {% for item in media %}
            <li><strong>{{ forloop.counter }}. {{ item.title }} | {{ item.status }} | {{ item.rating }} | {{ item.genre }} | {{ item.description }} | <a href="{% url 'tracker:edit_media' item.pk %}">[Edit]</a></strong></li>
        {% endfor %}
    </ul>
    {% else %}
    <p><strong>No entries found. To add an entry, click <a href="{% url 'tracker:add_media' %}">here</a></strong>.</p>
    {% endif %}
</body>
</html>